@include tablet{
    .iconos-nosotros{
        @include grid(3, 2rem)
    }
}

.icono{
    text-align: center;
    img{
        height: 10rem;
        width: auto;
        max-width: 100%;
        object-fit: contain;
        display: inline-block;
    }
    h3{
       text-transform: uppercase;  
    }
}