

.contenido-descripcion{

    @include tablet {
        @include grid (2, 2rem);
        align-items: center;
    }
  
    p{
    text-align: center ;
  }  
  ul{
    text-decoration: none;
    list-style: none;
    text-align: center;
  }
}